body {
  background-color: blanchedalmond;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  color: blue;
}
h4 {
  color: seagreen;
  box-shadow: blue;
}
h3 {
  color: blue;
}
  p {
    color: seagreen;
  }
ul {
  color: seagreen;
}